<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <include resource="org/springframework/boot/logging/logback/structured-file-appender.xml" />

    <appender name="ThrottledFileAppender" class="be.dnsbelgium.logback.ThrottlingAppender">
        <bufferSize>5000</bufferSize>
        <maxMessagesToEmitAfterStartUp>50000</maxMessagesToEmitAfterStartUp>
        <maxMessagesToEmitAfterWakeUp>2000</maxMessagesToEmitAfterWakeUp>
        <!-- wake up every 2 minutes -->
        <maxSleepMillis>120000</maxSleepMillis>
        <appender-ref ref="FILE" />
    </appender>

    <appender name="ThrottledConsole" class="be.dnsbelgium.logback.ThrottlingAppender">
        <bufferSize>5000</bufferSize>
        <maxMessagesToEmitAfterStartUp>50000</maxMessagesToEmitAfterStartUp>
        <maxMessagesToEmitAfterWakeUp>2000</maxMessagesToEmitAfterWakeUp>
        <!-- wake up every 2 minutes -->
        <maxSleepMillis>120000</maxSleepMillis>
        <appender-ref ref="CONSOLE" />
    </appender>

    <root level="INFO">
        <appender-ref ref="ThrottledFileAppender" />
        <appender-ref ref="ThrottledConsole" />
    </root>

</configuration>
