<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

<!--    <include resource="org/springframework/boot/logging/logback/structured-file-appender.xmlconsole-appender.xml" />-->

<!--    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">-->
<!--    </appender>-->

    <appender name="Throttle" class="be.dnsbelgium.logback.ThrottlingAppender">
        <bufferSize>50</bufferSize>
        <maxMessagesToEmitAfterStartUp>200</maxMessagesToEmitAfterStartUp>
        <maxMessagesToEmitAfterWakeUp>100</maxMessagesToEmitAfterWakeUp>
        <appender-ref ref="CONSOLE" />
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
<!--        <appender-ref ref="Throttle" />-->
    </root>

</configuration>
