<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>Mercator | Home </title>
    <script>
        function search(moduleType) {
            const domainName = document.getElementById('textinput').value;
            const fetchLatest = document.getElementById('fetchLatest').checked;
            window.location.href = `/search/${moduleType}/${fetchLatest ? 'latest' : 'ids'}?domainName=${domainName}`;
        }
    </script>
</head>

<body >

<div layout:fragment="content">
<!--    <h2>Welcome to Mercator</h2>-->

    <h2>Search for crawl results</h2>

    <div>
        <label for="textinput">Domain Name:</label>
        <input id="textinput" name="domainName" type="text">
    </div>

    <button type="button" onclick="search('tls')">TLS</button>
    <button type="button" onclick="search('smtp')">SMTP</button>
    <button type="button" onclick="search('web')">WEB</button>
    <button type="button" onclick="search('dns')">DNS</button>

    <label>
        <input type="checkbox" id="fetchLatest" th:checked="true">
        Fetch Latest
    </label>

</div>

<th:block layout:fragment="page-scripts">
    <!-- Add additional scripts there that are only needed for this page (Application wide scripts should be added in layout/layout.html) -->
</th:block>

</body>
</html>