<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>Mercator | Home </title>
</head>

<body >

    <div layout:fragment="content">
        <h2>Welcome to Mercator</h2>

        <p>
            <a th:href="@{/status}"> Check the crawling status </a>
        </p>

    </div>

<th:block layout:fragment="page-scripts">
    <!-- Add additional scripts there that are only needed for this page (Application wide scripts should be added in layout/layout.html) -->
</th:block>

</body>
</html>
