<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
  <title>Mercator | Details</title>
</head>

<body>

<main class="container" layout:fragment="content">
  <p th:if="${tlsCrawlResults == null or tlsCrawlResults.isEmpty()}">

    <span th:if="${domainName != null}">
      No TLS crawl results found for <strong th:text="${domainName}"></strong>
    </span>

    <!--  TODO Bram: I don;t think we need this, but I am confused ;-)-->
    <span th:if="${domainName == null}">
      No TLS crawl results found for visit-id <strong th:text="${visitId}"></strong>
    </span>

  </p>
  <div class="container-fluid" th:if="${tlsCrawlResults != null and not tlsCrawlResults.isEmpty()}">
    <div th:each="result : ${tlsCrawlResults}">
      <h3>Fresh</h3>
      <!--
      <p th:text="${result.getFresh()}"></p>
      -->
      <h2>TLS result for domain: <span th:text="${result.visitRequest.domainName}">domain name</span></h2>
      <table>
        <tbody>
        <tr>
          <th>hostName</th>
          <td th:text="${result.hostName}"></td>
        </tr>
        <tr>
          <th>hostNameMatchesCertificate</th>
          <td th:text="${result.hostNameMatchesCertificate}"></td>
        </tr>
        <tr>
          <th>chainTrustedByJavaPlatform</th>
          <td th:text="${result.chainTrustedByJavaPlatform}"></td>
        </tr>
        <tr>
          <th>certificateExpired</th>
          <td th:text="${result.certificateExpired}"></td>
        </tr>
        <tr>
          <th>certificateTooSoon</th>
          <td th:text="${result.certificateTooSoon}"></td>
        </tr>
        <tr>
          <th>leafCertificate</th>
          <td th:text="${result.leafCertificate}"></td>
        </tr>
        <tr>
          <th>crawlTimestamp</th>
          <td th:text="${result.crawlTimestamp}"></td>
        </tr>
        </tbody>
      </table>
      <h3>visitRequest: </h3>
      <table>
        <tbody>
        <tr>
          <th>visitId</th>
          <td th:text="${result.visitRequest.visitId}"></td>
        </tr>
        <tr>
          <th>domainName</th>
          <td th:text="${result.visitRequest.domainName}"></td>
        </tr>
        </tbody>
      </table>
      <h3>fullScanEntity:</h3>
      <table>
        <tbody>

        <tr>
          <th>Crawl Timestamp: </th>
          <td th:text="${result.fullScanEntity.fullScanCrawlTimestamp}"></td>
        </tr>
        <tr>
          <th>IP: </th>
          <td th:text="${result.fullScanEntity.ip}"></td>
        </tr>
        <tr>
          <th>Server Name: </th>
          <td th:text="${result.fullScanEntity.serverName}"></td>
        </tr>
        <tr>
          <th>Connect OK: </th>
          <td th:text="${result.fullScanEntity.connectOk}"></td>
        </tr>
        <tr>
          <th>Support TLS 1.3: </th>
          <td th:text="${result.fullScanEntity.supportTls_1_3}"></td>
        </tr>
        <tr>
          <th>Support TLS 1.2: </th>
          <td th:text="${result.fullScanEntity.supportTls_1_2}"></td>
        </tr>
        <tr>
          <th>Support TLS 1.1: </th>
          <td th:text="${result.fullScanEntity.supportTls_1_1}"></td>
        </tr>
        <tr>
          <th>Support TLS 1.0: </th>
          <td th:text="${result.fullScanEntity.supportTls_1_0}"></td>
        </tr>
        <tr>
          <th>Support SSL 3.0: </th>
          <td th:text="${result.fullScanEntity.supportSsl_3_0}"></td>
        </tr>
        <tr>
          <th>Support SSL 2.0: </th>
          <td th:text="${result.fullScanEntity.supportSsl_2_0}"></td>
        </tr>
        <tr>
          <th>Total Duration (ms): </th>
          <td th:text="${result.fullScanEntity.totalDurationInMs}"></td>
        </tr>
        </tbody>
      </table>
      <pre th:text="${tlsCrawlResults}"></pre>
    </div>
  </div>
</main>

</body>
</html>