<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
    <title>Mercator | Details</title>
    <style>
        td.record-data {
            max-width: 300px;
        }

        td.record-data >  div > div > span.record-data-copy-btn:hover {
            cursor: pointer;
            color: #e3f5ff;
        }
    </style>
</head>

<body>
<main class="container-fluid" layout:fragment="content">
    <script>
        function copyToClipboard(element) {
            const recordData = element.closest('.record-data').getAttribute('data-record');
            navigator.clipboard.writeText(recordData)
                .catch(err => {
                    console.error('Failed to copy: ', err);
                });
        }
    </script>
    <h2 th:if="${dnsCrawlResult == null}">
        No dns crawl result found for visitId
    </h2>
    <div class="container-fluid" th:if="${dnsCrawlResult != null}">
        <header>
            <h4 th:text="${dnsCrawlResult.domainName}"></h4>
        </header>
        <p>Crawled at: <span th:text="${dnsCrawlResult.getCrawlTimestamp()}"></span></p>
        <table>

            <thead>
            <tr>
                <th>Prefix</th>
                <th>Result</th>
                <th>Record Type</th>
                <th>TTL</th>
                <th>Record Data</th>
                <th>Country</th>
                <th>ASN</th>
                <th>ASN Organisation</th>
                <th>IP</th>
                <th>IP Version</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="request : ${dnsCrawlResult.requests}">
                <!-- combine request data with first response data  -->
                <tr>
                    <td th:text="${request.prefix}"></td>
                    <td th:text="${#strings.isEmpty(request.problem) ? 'Successful (0)' : request.problem}"></td>
                    <td th:text="${request.recordType}"></td>
                    <td th:if="${not #lists.isEmpty(request.responses)}" th:text="${request.responses[0].ttl}"></td>
                    <td class="record-data" th:attr="data-record=${request.responses[0].recordData}">
                        <div class="record-data-container">
                            <div class="record-data-content">
                                <span class="record-data-copy-btn">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#2a6485" class="copy-btn"
                                         viewBox="0 0 16 16" onclick="copyToClipboard(this)">
                                        <path fill-rule="evenodd"
                                              d="M10 1.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1Zm-5 0A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5v1A1.5 1.5 0 0 1 9.5 4h-3A1.5 1.5 0 0 1 5 2.5v-1Zm-2 0h1v1A2.5 2.5 0 0 0 6.5 5h3A2.5 2.5 0 0 0 12 2.5v-1h1a2 2 0 0 1 2 2V14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3.5a2 2 0 0 1 2-2Z" />
                                    </svg>
                                </span>
                                <span th:text="${request.responses[0].recordData ?: ''}"></span>
                            </div>
                        </div>
                    </td>
                    <!-- combine response data with first geoip data -->
                    <td th:if="${not #lists.isEmpty(request.responses) and not #lists.isEmpty(request.responses[0].responseGeoIps)}"
                        th:text="${request.responses[0].responseGeoIps[0].country}"></td>
                    <td th:if="${not #lists.isEmpty(request.responses) and not #lists.isEmpty(request.responses[0].responseGeoIps)}"
                        th:text="${request.responses[0].responseGeoIps[0].asn}"></td>
                    <td th:if="${not #lists.isEmpty(request.responses) and not #lists.isEmpty(request.responses[0].responseGeoIps)}"
                        th:text="${request.responses[0].responseGeoIps[0].asnOrganisation}"></td>
                    <td th:if="${not #lists.isEmpty(request.responses) and not #lists.isEmpty(request.responses[0].responseGeoIps)}"
                        th:text="${request.responses[0].responseGeoIps[0].ip}"></td>
                    <td th:if="${not #lists.isEmpty(request.responses) and not #lists.isEmpty(request.responses[0].responseGeoIps)}"
                        th:text="${request.responses[0].responseGeoIps[0].ipVersion}"></td>

                    <td th:if="${#lists.isEmpty(request.responses)}" colspan="7"></td>
                    <td th:if="${not #lists.isEmpty(request.responses) and #lists.isEmpty(request.responses[0].responseGeoIps)}" colspan="5"></td>
                </tr>

                <!-- remaining geoips -->
                <th:block th:if="${not #lists.isEmpty(request.responses) and not #lists.isEmpty(request.responses[0].responseGeoIps) and #lists.size(request.responses[0].responseGeoIps) > 1}">
                    <tr th:each="geoip, geoipStat : ${request.responses[0].responseGeoIps}" th:if="${!geoipStat.first}">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td th:text="${geoip.country}"></td>
                        <td th:text="${geoip.asn}"></td>
                        <td th:text="${geoip.asnOrganisation}"></td>
                        <td th:text="${geoip.ip}"></td>
                        <td th:text="${geoip.ipVersion}"></td>
                    </tr>
                </th:block>

                <!-- remaining responses -->
                <th:block th:each="response, responseStat : ${request.responses}" th:if="${!responseStat.first}">
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td th:text="${response.ttl}"></td>
                        <td class="record-data" th:attr="data-record=${response.recordData}">
                            <div class="record-data-container">
                                <div class="record-data-content">
                                    <span class="record-data-copy-btn">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#2a6485" class="copy-btn"
                                             viewBox="0 0 16 16" onclick="copyToClipboard(this)">
                                            <path fill-rule="evenodd"
                                                  d="M10 1.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1Zm-5 0A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5v1A1.5 1.5 0 0 1 9.5 4h-3A1.5 1.5 0 0 1 5 2.5v-1Zm-2 0h1v1A2.5 2.5 0 0 0 6.5 5h3A2.5 2.5 0 0 0 12 2.5v-1h1a2 2 0 0 1 2 2V14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3.5a2 2 0 0 1 2-2Z" />
                                        </svg>
                                    </span>
                                    <span th:text="${response.recordData ?: ''}"></span>
                                </div>
                            </div>
                        </td>
                        <!-- combine response data with first geoip data -->
                        <td th:if="${not #lists.isEmpty(response.responseGeoIps)}"
                            th:text="${response.responseGeoIps[0].country}"></td>
                        <td th:if="${not #lists.isEmpty(response.responseGeoIps)}"
                            th:text="${response.responseGeoIps[0].asn}"></td>
                        <td th:if="${not #lists.isEmpty(response.responseGeoIps)}"
                            th:text="${response.responseGeoIps[0].asnOrganisation}"></td>
                        <td th:if="${not #lists.isEmpty(response.responseGeoIps)}"
                            th:text="${response.responseGeoIps[0].ip}"></td>
                        <td th:if="${not #lists.isEmpty(response.responseGeoIps)}"
                            th:text="${response.responseGeoIps[0].ipVersion}"></td>

                        <td th:if="${#lists.isEmpty(response.responseGeoIps)}" colspan="5"></td>
                    </tr>

                    <!-- remaining geoips-->
                    <tr th:each="geoip, geoipStat : ${response.responseGeoIps}" th:if="${!geoipStat.first}">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td th:text="${geoip.country}"></td>
                        <td th:text="${geoip.asn}"></td>
                        <td th:text="${geoip.asnOrganisation}"></td>
                        <td th:text="${geoip.ip}"></td>
                        <td th:text="${geoip.ipVersion}"></td>
                    </tr>
                </th:block>
            </th:block>
            </tbody>
        </table>
        <p>List of Requests</p>
        <table>
            <tr>
                <td>
                    <details th:if="${not dnsCrawlResult.getRequests().isEmpty()}">
                        <summary>Click to show requests</summary>
                        <div th:each="request, iterStat : ${dnsCrawlResult.getRequests()}">
                            <h4>Request #[[${iterStat.count}]]</h4>
                            <table>
                                <tbody>
                                <tr>
                                    <th>Id</th>
                                    <td th:text="${request.id}"></td>
                                </tr>
                                <tr>
                                    <th>visitId</th>
                                    <td th:text="${request.visitId}"></td>
                                </tr>
                                <tr>
                                    <th>domainName</th>
                                    <td th:text="${request.domainName}"></td>
                                </tr>
                                <tr>
                                    <th>prefix</th>
                                    <td th:text="${request.prefix}"></td>
                                </tr>
                                <tr>
                                    <th>recordType</th>
                                    <td th:text="${request.recordType}"></td>
                                </tr>
                                <tr>
                                    <th>rcode</th>
                                    <td th:text="${request.rcode}"></td>
                                </tr>
                                <tr>
                                    <th>crawlTimestamp</th>
                                    <td th:text="${request.crawlTimestamp}"></td>
                                </tr>
                                <tr>
                                    <th>ok</th>
                                    <td th:text="${request.ok}"></td>
                                </tr>
                                <tr>
                                    <th>problem</th>
                                    <td th:text="${request.problem}"></td>
                                </tr>
                                <tr>
                                    <th>numOfResponses</th>
                                    <td th:text="${request.numOfResponses}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </details>
                </td>
            </tr>
        </table>
    </div>
</main>
</body>
</html>