<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
  <title>Mercator | Details</title>
</head>

<body >

<main class="container-fluid" layout:fragment="content">
  <h2 th:if="${smtpVisitResult == null}">
    No SMTP conversation result found for visitId
  </h2>
  <div class="container-fluid" th:if="${smtpVisitResult != null}">
    <header>
      <h4>SMTP for:</h4>
      <h4 th:text="${smtpVisitResult.domainName}"></h4>
    </header>
    <table>
      <tbody>
      <tr>
        <th>visitId</th>
        <td th:text="${smtpVisitResult.visitId}"></td>
      </tr>
      <tr>
        <th>timestamp</th>
        <td th:text="${smtpVisitResult.timestamp}"></td>
      </tr>
      <tr>
        <th>numConversations</th>
        <td th:text="${smtpVisitResult.numConversations}"></td>
      </tr>
      <tr>
        <th>crawlStatus</th>
        <td th:text="${smtpVisitResult.crawlStatus}"></td>
      </tr>
      <tr>
        <th>Hosts</th>
        <td th:if="${smtpVisitResult == null or #lists.isEmpty(smtpVisitResult.hosts)}">No hosts</td>
        <td>
          <details th:if="${smtpVisitResult != null && ! #lists.isEmpty(smtpVisitResult.hosts)}">
            <summary>Click to show hosts</summary>
            <div th:each="host, iterStat : ${smtpVisitResult.getHosts()}">
              <h4>Host #[[${iterStat.count}]] <span th:text="${host.hostName}"></span></h4>
              <table>
                <tbody>
                <tr>
                  <th>Id</th>
                  <td th:text="${host.id}"></td>
                </tr>
                <tr>
                  <th>fromMx</th>
                  <td th:text="${host.fromMx}"></td>
                </tr>
                <tr>
                  <th>hostName</th>
                  <td th:text="${host.hostName}"></td>
                </tr>
                <tr>
                  <th>priority</th>
                  <td th:text="${host.priority}"></td>
                </tr>
                </tbody>
              </table>
              <p th:if="${host.conversation == null}">No conversation</p>
              <h4 th:if="${host.conversation != null}">Conversation for Host #[[${iterStat.count}]]</h4>
              <table th:if="${host.conversation != null}">
                <tbody>
                <tr>
                  <th>id</th>
                  <td th:text="${host.conversation.id}"></td>
                </tr>
                <tr>
                  <th>ip</th>
                  <td th:text="${host.conversation.ip}"></td>
                </tr>
                <tr>
                  <th>asn</th>
                  <td th:text="${host.conversation.asn}"></td>
                </tr>
                <tr>
                  <th>country</th>
                  <td th:text="${host.conversation.country}"></td>
                </tr>
                <tr>
                  <th>asnOrganisation</th>
                  <td th:text="${host.conversation.asnOrganisation}"></td>
                </tr>
                <tr>
                  <th>banner</th>
                  <td th:text="${host.conversation.banner}"></td>
                </tr>
                <tr>
                  <th>connectOK</th>
                  <td th:text="${host.conversation.connectOK}"></td>
                </tr>
                <tr>
                  <th>connectReplyCode</th>
                  <td th:text="${host.conversation.connectReplyCode}"></td>
                </tr>
                <tr>
                  <th>supportedExtensions</th>
                  <td th:if="${host.conversation.supportedExtensions == null && #lists.isEmpty(host.conversation.supportedExtensions)}">No supported extensions</td>
                  <td th:if="${host.conversation.supportedExtensions != null && ! #lists.isEmpty(host.conversation.supportedExtensions)}">
                    <details>
                      <summary>Click to show supported extensions</summary>
                      <ul>
                        <li th:each="ext : ${host.conversation.supportedExtensions}">
                          <span th:text="${ext}"></span>
                        </li>
                      </ul>
                    </details>
                  </td>
                </tr>
                <tr>
                  <th>ipVersion</th>
                  <td th:text="${host.conversation.ipVersion}"></td>
                </tr>
                <tr>
                  <th>startTlsOk</th>
                  <td th:text="${host.conversation.startTlsOk}"></td>
                </tr>
                <tr>
                  <th>startTlsReplyCode</th>
                  <td th:text="${host.conversation.startTlsReplyCode}"></td>
                </tr>
                <tr>
                  <th>errorMessage</th>
                  <td th:if="${#strings.isEmpty(host.conversation.errorMessage)}">No error message</td>
                  <td th:if="${! #strings.isEmpty(host.conversation.errorMessage)}">
                    <details>
                      <summary>Click to show error message</summary>
                      <p th:text="${host.conversation.errorMessage}"></p>
                    </details>
                  </td>
                </tr>
                <tr>
                  <th>error</th>
                  <td th:if="${#strings.isEmpty(host.conversation.error)}">No error</td>
                  <td th:if="${! #strings.isEmpty(host.conversation.error)}">
                    <details>
                      <summary>Click to show error</summary>
                      <p th:text="${host.conversation.error}"></p>
                    </details>
                  </td>
                </tr>
                <tr>
                  <th>connectionTimeMs</th>
                  <td th:text="${host.conversation.connectionTimeMs}"></td>
                </tr>
                <tr>
                  <th>software</th>
                  <td th:text="${host.conversation.software}"></td>
                </tr>
                <tr>
                  <th>softwareVersion</th>
                  <td th:text="${host.conversation.softwareVersion}"></td>
                </tr>
                <tr>
                  <th>timestamp</th>
                  <td th:text="${host.conversation.timestamp}"></td>
                </tr>
                </tbody>
              </table>
            </div>
          </details>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</main>


</body>
</html>