<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <logger name="be.dnsbelgium.mercator" level="INFO"/>
    <logger name="be.dnsbelgium.mercator.smtp.domain.crawler.BlockingSmtpIpAnalyzer" level="DEBUG"/>

    <root level="WARN">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>
