<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <logger name="be.dnsbelgium" level="DEBUG" />

    <logger name="be.dnsbelgium.mercator.tls" level="DEBUG" />
    <logger name="be.dnsbelgium.mercator.tls.domain.RateLimiter" level="INFO" />

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>
