/*
  Note to future dev: Sass was used to nestle elements.
  https://sass-lang.com/
  This prevents accidental overwriting and limits the use of !important.
*/

$clickables-color: #007bff;
$clickables-secondary-color: #2a6485; //rgba(86, 86, 255, 0.755);

/* App.js */
.App {
  max-width: 85vw;
  margin-left: auto;
  margin-right: auto;
}

#home {
  margin-top: 3rem;
  margin-left: 3rem;

  h2 {
    margin-bottom: 2rem;
  }
}

/* NavigationBar.jsx */
#NavBar-Div {
  padding: 2rem 3rem;
  background-color: #e3f5ff;
  min-width: 100px;

  #form-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 50vw;

    #dropdown-btn {
      font-family: "Arial Rounded MT Bold";
      background-color: $clickables-secondary-color;
      color: white;
    }

    #navbar-input { // Search field
      margin-left: 1rem;
      margin-right: 1rem;
      width: 20rem;
      font-family: "Arial Rounded MT Bold";
    }

    #submit-btn { // Search or Go button (search submit btn)
      font-family: "Arial Rounded MT Bold";
      color: white;
      background-color: $clickables-secondary-color;
      border: 1px #37536e;
      font-size: 16px;
      min-width: 100px;
      max-width: 100px;
      margin-right: 1rem;
      border-radius: 5px;
    }
  }

  #navbar-buttongroup {
    margin: 3rem 2rem;
  }

  #cluster-link {
    background-color: $clickables-secondary-color;
    color: white;
  }
}

/* TimelineDomainName.jsx */
#TDN-Div {

  #show-images-btn {
    border: none;
    background-color: $clickables-secondary-color;
  }

  /* Table css */
  #timeline-table {
    thead {
      background-color: #e3f5ff;
      color: #2a6485;
    }

    th {
      vertical-align: middle !important; //Overwriting Bootstrap
      padding-left: 10px !important; //Overwriting Bootstrap
    }

    td {
      padding-top: 0px !important; //Overwriting Bootstrap
      padding-bottom: 0px !important; //Overwriting Bootstrap
    }

    // All Status td's and Visit Id
    td:nth-child(2), td:nth-child(3), td:nth-child(4), td:nth-child(5), td:nth-child(6), td:nth-child(7) {
      text-align: center;
      justify-content: center;
      align-items: center;
    }

    // Crawl Time td & Visit Id td
    td:nth-child(1), td:nth-child(6) {
      vertical-align: middle !important; //Overwriting Bootstrap
    }

    // Image row
    td:nth-child(7) {
      vertical-align: middle !important; //Overwriting Bootstrap
      p {
        margin: 0;
        padding: 0;
      }
    }

    th:nth-child(2), th:nth-child(3), th:nth-child(4), th:nth-child(5), th:nth-child(6), th:nth-child(7), td:nth-child(2), td:nth-child(3), td:nth-child(4), td:nth-child(5), td:nth-child(6), td:nth-child(7) {
      max-width: 50px;
    }

    #Copy-Id-Btn {
      background-color: $clickables-secondary-color;
      border: 0px;
    }

    .timeline-image {
      max-width: 100%;
      max-height: 100%;
    }
  }

  /* Paging buttons at the bottom of the table */
  #Paging-Div {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;

    .paging-btn {
      font-size: 1.15rem;
      color: $clickables-color;
      background-color: white;
      border: none;
    }

    .current-page {
      color: $clickables-secondary-color;
      text-decoration: underline;
    }
  }
}

#cluster-validator-div {
  textarea {
    padding-left: 10px;
    padding-right: 10px;
    resize: both;
    width: 100%;
    min-height: 10rem;
    max-height: 70vh;
  }

  h5 {
    margin-top: 2rem;
  }

  button {
    border: none;
    background-color: $clickables-secondary-color;
    color: white;
  }

  #flex-div {
    max-width: 100%;
    margin-left: -5px; // flex-item has a margin 5px.
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;

    #flex-item {
      margin: 5px;
      padding-bottom: 5px;
      flex-basis: 19.18%;
      border: 1px solid;
      text-align: center;

      p {
        bottom: 0;
        // margin-top: 1rem;
        // margin-top: auto;
        margin-bottom: 0;
        color: $clickables-color;
      }

      img {
        max-width: 100%;
        max-height: 19vh;
      }

      .no-image {
        margin-top: 25%;
      }
    }

    #flex-item:hover {
      cursor: pointer;
      box-shadow: 5px 5px $clickables-secondary-color;

      p {
        color: $clickables-secondary-color;
      }
    }
  }

  #faulty-visitIds {
    margin-top: 1rem;
    margin-bottom: 3rem;

    p {
      margin: 0px;
      color: $clickables-color;
    }

    p:hover {
      cursor: pointer;
      text-decoration: underline;
      color: $clickables-secondary-color;
    }
  }
}

/* Details.jsx 
   Parent to all Card components. */
#Details-Div {

  /* Jump-navigation buttons on top and bottom of Details.jsx */
  #Go-to-card-Div {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    max-width: 70vw;
  }

  #Go-to-card-Div > button, #Go-to-top-Div > button {
    border: none;
    background-color: white;
    color: $clickables-color;
  }

  #Go-to-card-Div > button:hover, #Go-to-top-Div > button:hover {
    color: $clickables-secondary-color;
    text-decoration: underline;
  }

  .open-all-button {
    background-color: white;
    color: $clickables-color;
    border: none;
  }

  .open-all-button:hover {
    color: $clickables-secondary-color;
    text-decoration: none;
  }

  /* Top element of card-border in all Details Card components */
  .top-element {
    white-space: nowrap;
    font-weight: bold;
    font-size: large;
  }

  /* Details Card tables */
  .content-table, .smtp-table, .html-table, .dns-table, .vat-table, .tls-table {
    margin-top: -15px;
    margin-bottom: -15px;
  }

  /* All td and th elements in Details Card components */
  td {
    width: 650px;
    max-width: 650px;
  }

  /* DNS-crawler table record data*/
  td.record-data {
    max-width: 300px;
  }

  td.record-data > div {
    display: flex;
    justify-content: space-between;
  }

  td.record-data > div > div.record-data-content {
    height: 50px;
    overflow: hidden;
  }

  th {
    width: 350px;
  }


  /* All 'More info' buttons within Details Cards */
  .more-info {
    padding: 0px;
    border: none;
    color: $clickables-color;
    background-color: white;
  }

  .more-info:hover {
    color: $clickables-secondary-color;
  }

  /* Set backend defined 'error' text within Details Card components red & bold.
     ContentCrawlCard.jsx -> 'Problem' element in table.
     Wappalyzer.jsx -> 'Error' element in table.
     DNSCard.jsx -> 'Problem' element in table. */
  .defined-error {
    color: red;
    font-weight: bold;
  }

  /* DispatcherCard.jsx */
  #dispatcher-card {
    #visit-id, #labels {
      font-weight: bold;
    }
  }

  /* ContentCrawlCard.jsx */
  #content-card {
    #metrics-json-content {
      overflow: hidden;
    }

    .content-card-link-button {
      color: $clickables-color;
      border: none;
      background-color: white;
    }

    .content-card-link-button:hover {
      color: $clickables-secondary-color;
      text-decoration: underline;
    }

    #contentCrawlContentLinks {
      display: flex;
      justify-content: space-around;
      margin-left: 0 !important;
    }

    #harContentNewTab {
      margin-right: 3rem !important;
    }

    /*preview */
    #previewWrapper {
      width: 85vw;
      display: grid;
      overflow: auto;
      max-height: 150vh;
    }

    /*screenshot*/
    #screenshotPreview {
      width: 82vw;
      align-self: flex-start;
      justify-self: flex-start;
    }

    /*warning for html*/
    #warningWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-self: center;
      justify-content: center;
      background-color: lightgray;
      width: 500px;
      height: 160px;
      border-radius: 5px;
    }

    /* Wappalyzer.jsx */
    #wappalyzer {
      #technologies-list {
        display: flex;
        flex-direction: column;
        text-align: start;
      }

      .technologies-names-btns {
        margin-top: 0.25rem;
        max-width: 10rem;
        border: none;
        background: white;
        text-align: start;
        color: $clickables-color;
      }

      .technologies-names-btns:hover {
        text-decoration: underline;
      }

      .no-bullet {
        list-style-type: none;
      }
    }

  }

  /* DNSCard.jsx */
  #dns-card {
    .list-categories {
      margin-top: 8px;
      margin-bottom: -10px;
    }

    .dns-records {
      margin-top: 10px;
      margin-bottom: 10px;
      word-wrap: break-word;
    }

    #prefix-div {
      max-width: 900px;
      padding-top: 1rem;
      border-top: 1px solid black;
      display: flex;

      span {
        min-width: 4rem; // Just width doesn't work
        max-width: 4rem; // Due to dynamic rendering
        font-weight: bold;
      }

      .prefix-data-div {
        display: flex;

        li {
          margin-bottom: 10px;
          max-width: 700px;
          word-wrap: break-word;
        }
      }

      .prefix-data-div > :first-child {
        min-width: 2.5rem; // Just width doesn't work
        max-width: 2.5rem; // Due to dynamic rendering
      }

      .geo-ip-data {
        margin-left: 1rem;
        // display: flex;

        p {
          margin-left: -1rem;
        }
      }
    }
  }

  /* SMTPCard.jsx */
  #smtp-card {
    .smtp-crawl-timestamps {
      color: $clickables-color;
    }

    .smtp-crawl-timestamps:hover {
      color: $clickables-secondary-color;
      text-decoration: underline;
      cursor: pointer;
    }

    #SMTP-Hosts-Card {
      padding-left: 1.25rem;
      padding-top: 0.5rem;
      margin-top: 0.25rem;
      border: 1px solid grey;
    }
  }

  /* HTMLCard.jsx */
  #html-card {
    .html-struct, .body-text {
      max-width: 10vw;
      word-wrap: break-word;
    }
  }

  /* VATCard.jsx */
  // #vat-card {
  // No css necessary.
  // }

  /* SSLCard.jsx */
  #ssl-card {
    .nested-table-header {
      width: 150px;
    }

    .nested-table-data {
      line-break: anywhere;
    }
  }

  /* TLSCard.jsx */
  #tls-card {
    .certificates-chain {
      border-top: solid #d3e5ff 2px;
    }

    .copy-btn {
      float: right;
      width: 25px;
      height: 25px;
    }

    //TODO  for dns recordData
    .copy-btn:hover {
      cursor: pointer;
      color: #e3f5ff;
    }

    .duration {
      text-align: right;
    }

    .bi-check {
      color: green;
    }

    .bi-x {
      color: red;
    }
  }
}

/* HandleError.jsx error divs */
.error-div {
  margin-top: 2rem;
  margin-left: 2rem;
}