name: Build & publish to docker hub

on:
  push:
    branches:
      - v2.0
  schedule:
    - cron: '30 5 * * *'

permissions:
  contents: read
  actions: read
  checks: write
  packages: write

env:
  REGISTRY: ghcr.io

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: read
      checks: write
      packages: write

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
          settings-path: ${{ github.workspace }} # location for the settings.xml file
          cache: maven

      - name: Run the Maven verify phase
        run: mvn --batch-mode -Dsnyk.skip verify

      - run: mkdir staging && cp target/*.jar staging
      - uses: actions/upload-artifact@v4
        with:
          name: Package
          path: staging

#      - name: Publish Test Report
#        if: success() || failure()
#        uses: ScaCap/action-surefire-report@v1.8.0

#      - uses: dorny/test-reporter@v1.9.1
#        if: success() || failure()
#        with:
#          name: Junit Test Report
#          path: 'target/surefire-reports/*.xml'
#          reporter: java-junit
#          fail-on-error: true
#
      - name: Log in to the Container registry
        uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1

        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish container image to GitHub Container registry
        id: publish
        run: REGISTRY=${{ env.REGISTRY }} DOCKER_USERNAME=${{ github.actor }} DOCKER_PASSWORD=${{ secrets.GITHUB_TOKEN }} mvn --batch-mode clean compile jib:build



#      - name: Publish container image to Docker Hub
#        id: publish
#        run: DOCKERHUB_USERNAME=${{ secrets.DOCKERHUB_USERNAME }} DOCKERHUB_PASSWORD=${{ secrets.DOCKERHUB_PASSWORD }} mvn --batch-mode clean compile jib:build
