name: Run unit tests

on:
  push:
    branches:
      - v2.0
  schedule:
    - cron: '30 5 * * *'

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      checks: write

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
          cache: maven

      - name: Run the Maven verify phase
        run: mvn --batch-mode -Dsnyk.skip verify

      - name: Junit Test Report
        uses: dorny/test-reporter@v1.9.1
        if: success() || failure()
        with:
          name: Junit Test Report
          path: 'target/surefire-reports/*.xml'
          reporter: java-junit
          fail-on-error: true
